version: "3.9"

services:
  traefik:
    image: traefik:v2.11
    command:
      - "--log.level=DEBUG"
      - "--providers.docker=true"
      - "--entrypoints.web.address=:81"
    ports:
      - "81:81"
    volumes: 
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - backend-network

  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    networks:
      - backend-network
  user:
      build: 
        dockerfile: Dockerfile_user
      container_name: user
      ports:
        - "8080:8080"   # expone tu user para que puedas llamarla desde fuera
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock
      environment:
        - DOCKER_HOST=unix:///var/run/docker.sock
      networks:
      - backend-network
      labels:
      - "traefik.enable=true"
      - "traefik.http.routers.user.rule=PathPrefix(`/user`)"
      - "traefik.http.services.user.loadbalancer.server.port=8080"
      - "traefik.http.middlewares.user-stripprefix.stripprefix.prefixes=/user"
      - "traefik.http.routers.user.middlewares=user-stripprefix"
      - "traefik.http.routers.user.entrypoints=web"
      depends_on:
      - mongodb
  
  car:
      build: 
        dockerfile: Dockerfile_cars
      container_name: car
      ports:
        - "8081:8081"   # expone tu car para que puedas llamarla desde fuera
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock
      environment:
        - DOCKER_HOST=unix:///var/run/docker.sock
      networks:
      - backend-network
      labels:
      - "traefik.enable=true"
      - "traefik.http.routers.car.rule=PathPrefix(`/car`)"
      - "traefik.http.services.car.loadbalancer.server.port=8081"
      - "traefik.http.middlewares.car-stripprefix.stripprefix.prefixes=/car"
      - "traefik.http.routers.car.middlewares=car-stripprefix"
      - "traefik.http.routers.car.entrypoints=web"
      depends_on:
      - mongodb

networks:
  backend-network:
    driver: "bridge"
    external: true